<header>

    <!-- logo -->
    <div class="container">
        <a href="{{ site.url }}" class="no-dec">
            <img src="images/logo_web.png" class="logo">
        </a>
    </div>

    <!-- link social -->
    <div class="social-container">
        <a href="{{ site.github_username }}" target="blank" class="no-dec first-social-icon">
            <i class="fab fa-github fa-lg social-icon"></i>
        </a>
        <a href="{{ site.linkedin_username }}" target="blank" class="no-dec">
            <i class="fab fa-linkedin fa-lg social-icon"></i>
        </a>
        <a href="{{ site.instagram_username }}" target="blank" class="no-dec">
            <i class="fab fa-instagram fa-lg social-icon"></i>
        </a>
        <a href="{{ site.medium_username }}" target="blank" class="no-dec">
            <i class="fab fa-medium fa-lg social-icon"></i>
        </a>
        <a href="{{ site.facebook_username }}" target="blank" class="no-dec">
            <i class="fab fa-facebook-f fa-lg social-icon"></i>
        </a>

    </div>

    <hr>

    <div class="container">
        <img src="images/bullet.png"> ls <br>
        <div class="nav-div">
            <a href="index.html" class="nav-i">Home</a>
            <a href="engineer.html" class="nav-i">Engineering</a>
            <a href="research.html" class="nav-i">Research</a>
            <a href="solutions.html" class="nav-i">Solutions</a>
            <a href="team.html" class="nav-i">Team</a>
            <a href="about.html" class="nav-i">About</a>
            <a href="contacts.html" class="nav-i">Contacts</a>
        </div>
    </div>

</header>
