<header>

    <!-- logo -->
    <div class="container">
        <a href="{{ site.url }}" class="no-dec">
            <img src="../images/logo_web.png" class="logo">
        </a>
    </div>

    <!-- link social -->
    <div class="social-container">
        <a href="{{ site.github_username }}" target="blank" class="no-dec first-social-icon">
            <i class="fab fa-github fa-lg social-icon"></i>
        </a>
        <a href="{{ site.linkedin_username }}" target="blank" class="no-dec">
            <i class="fab fa-linkedin fa-lg social-icon"></i>
        </a>
        <a href="{{ site.instagram_username }}" target="blank" class="no-dec">
            <i class="fab fa-instagram fa-lg social-icon"></i>
        </a>
        <a href="{{ site.medium_username }}" target="blank" class="no-dec">
            <i class="fab fa-medium fa-lg social-icon"></i>
        </a>
        <a href="{{ site.facebook_username }}" target="blank" class="no-dec">
            <i class="fab fa-facebook-f fa-lg social-icon"></i>
        </a>
    </div>

</header>
