<header class="custom-header">

    <!-- logo -->
    <div class="container">
        <a href="{{ site.url }}" class="no-dec">
            <img src="../images/logo_web.png" class="logo">
        </a>
    </div>

    <!-- link social -->
    <div class="social-container header-border">
        <a href="{{ site.github_username }}" target="blank" class="no-dec first-social-icon">
            <i class="fab fa-github fa-lg social-icon"></i>
        </a>
        <a href="{{ site.linkedin_username }}" target="blank" class="no-dec">
            <i class="fab fa-linkedin fa-lg social-icon"></i>
        </a>
        <a href="{{ site.instagram_username }}" target="blank" class="no-dec">
            <i class="fab fa-instagram fa-lg social-icon"></i>
        </a>
        <a href="{{ site.medium_username }}" target="blank" class="no-dec">
            <i class="fab fa-medium fa-lg social-icon"></i>
        </a>
        <a href="{{ site.facebook_username }}" target="blank" class="no-dec">
            <i class="fab fa-facebook-f fa-lg social-icon"></i>
        </a>
        <a href="{{ site.youtube_username }}" target="blank" class="no-dec">
            <i class="fab fa-youtube fa-lg social-icon"></i>
        </a>
		<a href="{{ site.github_sponsor }}" target="blank" class="no-dec">
            <i class="far fa-heart fa-lg social-icon"></i>
        </a>
    </div>

    <div class="container header-border small-header">
        <img src="../images/bullet.png"> ls
        <a class="expander" data-toggle="collapse" href="#nav" role="button" aria-expanded="false">
            <i class="fas fa-plus social-icon" data-toggle="collapse" data-target="#nav"></i>
        </a>
        <div class="collapse" id="nav">
            <div class="nav-div">
                <a href="./index.html" class="nav-i">Home</a> <br>
                <a href="./thesis.html" class="nav-i">Thesis</a> <br>
                <a href="./internships.html" class="nav-i">Internships</a> <br>
            </div>
        </div>
    </div>

    <div class="container header-border big-header">
        <img src="../images/bullet.png"> ls <br>
        <div class="nav-div">
            <a href="../index.html" class="nav-i">Home</a>
            <a href="../thesis.html" class="nav-i">Thesis</a>
            <a href="../internships.html" class="nav-i">Internships</a>
        </div>
    </div>

</header>
