/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background: #03002e;
}

header {
    margin-bottom: 1em;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    color: #d28445;
}

.no-dec {
    text-decoration: none;
}

/* header styles */
.logo {
    max-width: 100%;
}

.social-container {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
}

.first-social-icon {
    margin-left: 1em;
}

.social-icon {
    color: #ffffff;
}

.nav-div {
    margin-left: 1em;
}

.nav-i {
    color: #d28445;
    margin-left: 1em;
}

/* footer styles */
.text-div {
    font-size: 14px;
}

.t-margin {
    margin-top: 2em;
}

/* index styles */
.team-people {
    margin: 2em 0;
    min-height: 155px;
}

.text-margin {
    margin: 1em 0;
}

.orange {
    color: #d28445;
}

/* modal styles */
.modal-bio {
    background-color: #1b1b1b;
}

.modal-icon {
    color: #ffffff;
    margin-left: 1em;
}

.modal-close {
    color: #ffffff;
}

/* research */
.sec-title {
    font-size: 20px;
}

.desc-margin {
    margin: 0 0 1em 0;
}

.h-selector {
    padding-right: 0px;
    max-width: fit-content;
}

/* contacts */
.title-margin {
    margin-bottom: 0.5em;
}

.b-cont-margin {
    margin-bottom: 2em;
}

.path {
    color: #d28445;
    margin-left: 0;
}

.custom-header {
    background: none;
    border-bottom: none;
}

.header-border {
    padding-bottom: 1.5em;
    border-bottom: 1px dashed #b5e853;
}

.footer-border {
    padding-top: 1.5em;
    border-top: 1px dashed #b5e853;
}

.team-sec-border {
    margin-bottom: 0px;
}

.super-bottom-margin {
    margin-bottom: 4em;
}

.m-top-z {
    margin-top: 0px !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) {
/* Styles */
    .team-people {
        margin: 2em 0;
        text-align: center;
    }

    .desc-margin {
        margin: 1em 0;
    }

    .res-sec {
        text-align: center;
    }

    .m-research-title {
        font-size: 20px !important;
    }

    .m-research-text {
        text-align: left;
        margin-top: 0px;
    }

    .profile-name-margin {
        margin-top: 1em;
    }

    .eng-text-m {
        display: block;
    }

    .eng-text-d {
        display: none;
    }

    .eng-graph-m {
        display: block;
    }

    .eng-graph-d {
        display: none;
    }

    .small-header {
        display: block;
    }
    
    .big-header {
        display: none;
    }

    .nav-div {
        margin-left: 2em;
    }
}

/* Tablet ----------- */
@media only screen
and (min-width: 768px) {
    /* styles */
    .team-people {
        margin: 2em 0;
        text-align: left;
    }

    .eng-text-m {
        display: none;
    }

    .eng-text-d {
        display: block;
    }

    .eng-graph-m {
        display: none;
    }

    .eng-graph-d {
        display: block;
        text-align: center;
    }

    .small-header {
        display: none;
    }

    .big-header {
        display: block;
    }

    .nav-div {
        margin-left: 1em;
    }
}

/* Desktop ----------- */
@media only screen 
and (min-width : 1281px) {
    /* styles */
}
